# Build artifacts
build/
dist/
*.egg-info/

# Python cache files
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class

# venv
.venv/

# ruff
.ruff_cache/

# iserdata
.user_data/

# Claude Code
.claude/

# pytest temp
.pytest_tmp/
